.wrapper {
    width: 100%;
    height: 180px;
    background-color: var(--white);
    margin-top: calc(10px + var(--default-layout-header-height));
    .line {
        width: 100%;
        height: 4px;
        background-color: var(--primary);
        border: none;
        margin-bottom: 30px;
    }
}
.inner {
    // width: var(--default-layout-width);
    width: 1200px;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.heading {
    font-size: 1.4rem;
}

.list {
    list-style: none;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    --height: 24px;
    line-height: var(--height);
    &-link {
        text-decoration: none;
        color: var(--text-primary);
        font-size: 1.2rem;
        color: var(--text-primary);
        &:hover {
            color: var(--primary);
        }
        span {
            margin-left: 4px;
        }
    }
}
.list-apps {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.item-qr-img {
    width: 60px;
    height: 60px;
}

.item-qr-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
}

.item-qr-down {
    height: 20px;
    &:first-child {
        margin-bottom: 3px;
    }
    &:hover {
        cursor: pointer;
    }
}

.copy-right {
    font-size: 1.2rem;
    color: var(--text-primary);
    background-color: rgb(216, 216, 216);
    text-align: center;
    height: 36px;
    line-height: 36px;
}
